h1 {
  color: #001223;
  font-family: 'Courier New', monospace;
  font-size: 75%;
}
p {
  color: #002334;
  font-family: 'Courier New', monospace;
  font-size: 1vw;
}

a {
  color: #002334;
  font-family: 'Courier New', monospace;
  font-size: 1vw;
}
